/* your code here */
*{
	margin:0px;
	font-family:sans-serif;
}
.content{
	background-color:black;
	color:white;
	padding:20px;

}
.bottom-details{
	background-color:darkgray;
	padding:20px;
	display:flex;
	justify-content:space-between;
	justify-items:center;
	padding:25px;
}

.logo_name{
	font-size:40px;
	padding: 20px;
}

.top{
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.media-icons{
	display:flex;
}
.media-icons a{
	display:flex;
	width:42px;
	height:42px;
	align-items:center;
	justify-content:center;
	font-size:20px;
	background: #1d1d1d;
	border-radius:50px;
	color: #fff;
	margin-left:15px;
	text-decoration:none;
}

.link-boxes{
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:30px;
	flex-wrap:wrap;
}

.link-boxes .box{
	list-style:none;
	min-width:180px;
}

.link{
	font-size:30px;
	margin-bottom:10px;
	position:relative;
}

.box a{
	text-decoration:none;
	color:lightgray;
	padding:5px;
}
.box a:hover {
	color: white;
}

.box li{
	margin-top:10px;
}
.link::after {
	content: "";
	width: 40px;
	height: 2px;
	background: white;
	position: absolute;
	bottom: -4px;
	left: 0;
}

